<%= modal(padding: @padding, advance: @override_url || @advance, header: @header) do %>
  <% unless inside_modal? %>
    <h1 class="text-2xl mb-8">This is not inside a modal</h1>
  <% end %>

  <% if params[:id] == "long" %>
    <div class="space-y-2 max-w-3xl">
      <% 30.times do %>
        <p><%= Faker::Lorem.paragraph(sentence_count: 50) %></p>
      <% end %>
    </div>
  <% elsif params[:id] == "photo" %>
    <div class="w-full">
      <img src="/img/unicat.jpg">
    </div>
  <% else %>
    <div class="w-full">
      Not sure what you're looking for!
    </div>
  <% end %>
<% end %>
