<% if flash.any? %>
  <div class="absolute top-3 right-3 px-5 py-2" data-controller="flash">
    <% flash.each do |key, value| %>
      <% if key == "alert" %>
        <div class="mb-6 p-4 bg-red-50 dark:bg-red-900/30 border border-red-200 dark:border-red-800 rounded-lg">
          <p class="text-red-800 dark:text-red-200 font-medium">
            <%= value %>
          </p>
        </div>
      <% else %>
        <div class="mb-6 p-4 bg-green-50 dark:bg-green-900/30 border border-green-200 dark:border-green-800 rounded-lg">
          <p class="text-green-800 dark:text-green-200 font-medium">
            <%= value %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
