<% if local_assigns[:message] %>
  <div id="#ts-notice" class="fixed top-2 right-2 w-auto border p-4 my-10 text-black border-green-800 bg-green-200 max-w-lg">
    <%= local_assigns[:message] %>
    <div class="mt-3 font-medium">
      <a href="#" onclick="document.querySelector('#ts-notice')?.innerHTML=''; return false;">Close</a>
    </div>
  </div>
<% else %>
  <div id="#ts-notice"></div>
<% end %>
